{% load cache pages_tags i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}" xml:lang="{{ lang }}" >
{% comment %}Important to enable other applications to inherit the template{% endcomment %}
{% load_pages %}
<head>
<title>
    {% show_content current_page "title" %}
</title>
</head>
<body>
<div id="main">
{% block content %}
<table><tr><td>
    {% placeholder left-column with RichTextarea parsed %}
</td><td>
    {% placeholder right-column with RichTextarea parsed %}
</td></tr></table>
{% endblock content %}
</div>
</body>
</html>
